@use './variables' as v;

// Breakpoints

@mixin media-up ($breakpoint) {
    @media screen and (min-width: map-get(v.$breakpoints, $breakpoint)) {
        @content;
    }
}

// Button

@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background-color: #000;
    border-radius: 5px;
}

// 