doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles/addcampground.css")
        script(src="script.js") 
        title Add New Campground - YelpCamp 
    body
        .acknowledgement#acknowledgement
            p This project was made by <a href="#">Colt Steele</a> and designed by <a href="#">Codewell</a>
            .acknowledgement__close-button#acknowledgementCloseButton(onclick="closeAcknowledgement()")
        header 
            .header__image-container
                a.header__home-link(href="#") Home
            nav
                .nav-button#navButton(onclick="openMenu()") 
                    .hamburger-img-container
                .nav-button-open#navButtonOpen(onclick="closeMenu()")
                    .close-img-container
            .nav-links#navLinks
                .nav-links__logout#navLinksLogout
                    a.nav-links__login-btn(href="#", onclick="login()") Login 
                    a.nav-links__create-btn(href="#") Create an account 
                .nav-links__login#navLinksLogin 
                    a.nav-links__name-btn(href="#") Luis C.
                    a.nav-links__logout-btn(href="#", onclick="logout()") Logout
        main 
            h1.main__title Add New Campground 
            .input-campname.input
                label(for="campname") Campground Name 
                input(type="text" name="campname" placeholder="Seven Sisters Waterfall")
            .input-price.input
                label(for="price") Price
                input(type="text" name="price" placeholder="$149")
            .input-price.input
                label(for="image") Image
                input(type="text" name="image" placeholder="www.thepinoytraveler.com/2018/0...")
            .input-description.input
                label(for="description") Description
                textarea#description(name="description" rows="8" placeholder="The Seven Sisters is the 39th tallest waterfall in Norway. The 410-metre tall waterfall consists of seven separate streams, and the tallest of the seven has a free fall that measures 250 metres. The waterfall is located along the Geirangerfjorden in Stranda Municipality in Møre og Romsdal county, Norway.")
            button.input-btn Add Campground 
        footer 
            .footer__image-container