doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles/addcampground.css")
        script(src="script.js") 
        title Add New Comment - YelpCamp 
    body
        .acknowledgement#acknowledgement
            p This project was made by <a href="https://github.com/Colt">Colt Steele</a> and designed by <a href="https://www.codewell.cc/">Codewell</a>
            .acknowledgement__close-button#acknowledgementCloseButton(onclick="closeAcknowledgement()")
        header 
            .header__image-container
                a.header__home-link(href="index.html") Home
            nav
                .nav-button#navButton(onclick="openMenu()") 
                    .hamburger-img-container
                .nav-button-open#navButtonOpen(onclick="closeMenu()")
                    .close-img-container
            .nav-links#navLinks
                .nav-links__logout#navLinksLogout
                    a.nav-links__login-btn(href="signin.html", target="_blank", onclick="login()") Login 
                    a.nav-links__create-btn(href="signup.html") Create an account 
                .nav-links__login#navLinksLogin 
                    a.nav-links__name-btn(href="#") Luis C.
                    a.nav-links__logout-btn(href="#", onclick="logout()") Logout
        main 
            h1.main__title Add New Comment 
            .input-description.input
                label(for="description") Description
                textarea#description(name="description" rows="8" placeholder="This was probably the best camp i’ve visited this past year, definitely recommend visiting any time soon.")
            button.input-btn Post Comment 
        footer 
            .footer__image-container