doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles/index.css")
        title YelpCamp
    body
        header
            .header__img-container
        section.hero
            .hero__img-container
        main
            h1.main__title Explore the best camps on Earth.
            p.main__description YelpCamp is a curated list of the best camping spots on Earth. Unfiltered and unbiased reviews.
            ul.main__list
                li.list-item <span class="check"></span>Add your own camp suggestions.
                li.list-item <span class="check"></span>Leave reviews and experiences.
                li.list-item <span class="check"></span>See locations for all camps.
            a(href="#").main__button View Campgrounds
        footer
            p Partnered with:
            .partners-container 
                .partner-airbnb
                .partner-booking
                .partner-plumguide