
@use '../abstracts/typography' as t;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

@forward '../abstracts/globals';

body {
    display: grid;
    grid-template-areas: "header"
                         "hero"
                         "main"
                         "footer";
    font-family: t.$archivo;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    background-color: v.$secondary;
    color: v.$paragraph;
    @include m.media-up(dt) {
        grid-template-areas: "header hero"
                             "main hero"
                             "footer hero";
        grid-template-columns: 54.1% 45.9%;
    }
}

//Header

header {
    grid-area: header;
    .header__img-container {
        height: 107px;
        background-image: url('../assets/Logo.svg');
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 20px;
        @include m.media-up(tb) {
            background-position-x: 40px;
        }
        @include m.media-up(dt) {
            background-position-x: 150px;
        }
    }
}

//Hero

.hero {
    grid-area: hero;
    .hero__img-container {
        height: 375px;
        background-image: url('../assets/Hero Image (Tablet and Mobile).jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include m.media-up(dt) {
            height: 100vh;
            background-image: url('../assets/Hero Image.jpg');
            background-size: cover;
        }
    }
}

//Main

main {
    grid-area: main;
    margin-top: 36px;
    padding: 0 20px;
    @include m.media-up(tb) {
        margin-top: 40px;
        padding: 0 40px;
    }
    @include m.media-up(dt) {
        margin-top: 16px;
        padding: 0 150px;
    }
    .main__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 39.17px;
        color: v.$black;
        @include m.media-up(tb) {
            font-size: 56px;
            line-height: 60.93px;
        }
    }
    .main__description {
        margin-top: 8px;
    }
    .main__list {
        list-style-type: none;
        margin-top: 16px;
        .list-item {
            display: flex;
            margin-top: 12px;
            .check {
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-right: 12px;
                background-image: url('../assets/Checkmark.svg');
            }
        }
    }
    .main__button {
        width: 216px;
        height: 63px;
        margin-top: 24px;
        @include m.button;
    }
}

//Footer

footer {
    grid-area: footer;
    margin-top: 36px;
    margin-bottom: 40px;
    padding: 0 20px;
    @include m.media-up(tb) {
        padding: 0 40px;
    }
    @include m.media-up(dt) {
        padding: 0 150px;
    }
    .partners-container {
        display: flex;
        .partner-airbnb {
            width: 82px;
            height: 42px;
            background-image: url('../assets/Airbnb.svg');
        }
        .partner-booking {
            width: 130px;
            height: 42px;
            background-image: url('../assets/Booking.svg');
        }
        .partner-plumguide {
            width: 160px;
            height: 42px;
            background-image: url('../assets/Plum Guide.svg');
        }
    }
}

