@use '../abstracts/typography' as t;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

@import '../abstracts/globals';

body {
    display: flex;
    flex-direction: column;
    font-family: t.$archivo;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: v.$paragraph;
}

// Acknowledgement

@import '../layout/acknowledgement';

// Header

@import '../layout/header';

// Search Box

.search-box {
    margin: 0 20px;
    background-color: v.$secondary;
    padding: 0 36px;
    border-radius: 5px;
    @include m.media-up(tb) {
        margin: 0 40px;
        padding: 0 56px;
    }
    @include m.media-up(dt) {
        margin: 0 150px;
    }
    .search-box__title {
        font-size: 36px;
        line-height: 39.17px;
        margin-top: 36px;
        color: v.$black;
        @include m.media-up(tb) {
            margin-top: 68px;
        }
    }
    .search-box__description {
        margin-top: 8px;
        @include m.media-up(tb) {
            width: 408px;
        }
    }
    .search-input__container {
        margin-top: 16px;
        @include m.media-up(tb) {
            display: flex;
        }
        .input {
            height: 63px;
            padding: 0 24px;
            display: flex;
            align-items: center;
            background-color: v.$white;
            border-radius: 5px;
            @include m.media-up(tb) {
                width: 255px;
            }
            .input__search-icon {
                height: 16px;
                width: 16px;
                background-image: url('../assets/Search Icon.svg');
                background-size: cover;
                cursor: pointer;
            }
            .search-input {
                width: 85%;
                margin-left: 12px;
                font-size: 18px;
                border: none;
                &:focus {
                    outline: none;
                }
            }
        }
        .search-button {
            height: 63px;
            width: 100%;
            margin-top: 16px;
            background-color: v.$black;
            font-size: 18px;
            font-weight: 700;
            color: v.$white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            @include m.media-up(tb) {
                width: 109px;
                margin-top: 0;
                margin-left: 16px;
            }
        }
    }
    .search-box__link {
        display: inline-block;
        margin-top: 16px;
        margin-bottom: 36px;
        color: v.$paragraph;
        @include m.media-up(tb) {
            margin-bottom: 68px;
        }
    }
}

// Cards

.campground-card__container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px 20px 0 20px;
    @include m.media-up(tb) {
        grid-template-columns: 1fr 1fr;
        gap: 0 20px;
        margin: 40px 40px 0 40px;
    }
    @include m.media-up(dt) {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 80px 150px 0 150px;
        gap: 0 30px;
    }
    .campground-card {
        margin-top: 20px;
        padding: 15px;
        border: 1px solid #DADADA;
        border-radius: 5px;
        @include m.media-up(dt) {
            margin-top: 30px;
        }
        .campground-card__img {
            width: 100%;
            height: 183px;
            background-size: cover;
            border-radius: 5px;
        }
        .mount-ulap {
            background-image: url('../assets/Camp Images/Mount Ulap.jpg');
        }
        .calaguas-islands {
            background-image: url('../assets/Camp Images/Calaguas Island.jpg');
        }
        .onay-beach {
            background-image: url('../assets/Camp Images/Onay Beach.jpg');
        }
        .seven-sisters-waterfall {
            background-image: url('../assets/Camp Images/Seven Sisters Waterfall.jpg');
        }
        .latik-riverside {
            background-image: url('../assets/Camp Images/Latik Riverside.jpg');
        }
        .buloy-springs {
            background-image: url('../assets/Camp Images/Buloy Springs.jpg');
        }
        .campground-card__title {
            margin-top: 16px;
            font-size: 18px;
            line-height: 19.58px;
            color: v.$black;
        }
        .campground-card__description {
            margin-top: 9px;
        }
        .campground-card__button {
            width: 100%;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 16px;
            border: 1px solid #DADADA;
            border-radius: 5px;
            font-weight: 700;
            color: v.$black;
            cursor: pointer;
        }
    }
}

// Footer

@import '../layout/footer';